.product {
  flex-direction: row;
  display: flex;
}

.gallery-section {
  flex-direction: column;
  display: flex;
}

.gallery-block {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px solid lightGray;
  cursor: pointer;
  width: 79px;
  height: 80px;
  margin-bottom: 32px;
  overflow: hidden;
}

.gallery-images {
  width: auto;
  height: auto;
}

.product-image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 610px;
  height: 511px;
  min-width: 250px;
  min-height: 151px;
  border: 1px solid lightGray;
  margin-left: 35px;
  overflow: hidden;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
}

.product-info-section {
  max-width: 100%;
  margin-left: 100px;
  flex-direction: column;
  display: flex;
}

.product-brand {
  line-height: 27px;
  font-size: 30px;
  font-weight: 600;
}

.product-name {
  margin-top: 16px;
  font-size: 30px;
  font-weight: 400;
}

.product-price-title {
  margin-top: 36px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.product-currency-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 10px;
}

.product-button {
  cursor: pointer;
  margin-top: 20px;
  height: 52px;
  width: 292px;
  background-color: #5ece7b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-description {
  width: 292px;
  margin-top: 40px;
}

@media screen and (max-width: 1357px) {
  .product {
    margin-right: 190px;
  }
  .product-info-section {
    margin-left: 80px;
  }
  .product-brand {
    font-size: 26px;
  }
  .product-name {
    font-size: 26px;
  }
  .product-price-title {
    font-size: 16px;
  }

  .product-currency-price {
    font-size: 22px;
  }

  .product-button {
    height: 50px;
    width: 285px;
  }
}

@media screen and (max-width: 1285px) {
  .product {
    margin-right: 160px;
  }
  .product-info-section {
    margin-left: 60px;
  }
  .product-brand {
    font-size: 22px;
  }
  .product-name {
    font-size: 22px;
  }
  .product-price-title {
    font-size: 14px;
  }

  .product-currency-price {
    font-size: 20px;
  }

  .product-button {
    height: 49px;
    width: 278px;
  }
}

@media screen and (max-width: 1195px) {
  .product {
    margin-right: 130px;
  }
  .product-info-section {
    margin-left: 40px;
  }
  .product-brand {
    font-size: 21px;
  }
  .product-name {
    font-size: 21px;
  }
  .product-price-title {
    font-size: 12px;
  }

  .product-currency-price {
    font-size: 18px;
  }

  .product-button {
    height: 48px;
    width: 271px;
  }
}

@media screen and (max-width: 1100px) {
  .product {
    margin-right: 100px;
  }
  .product-info-section {
    margin-left: 40px;
  }
  .product-brand {
    font-size: 20px;
  }
  .product-name {
    font-size: 20px;
  }
  .product-price-title {
    font-size: 10px;
  }

  .product-currency-price {
    font-size: 16px;
  }

  .product-button {
    height: 47px;
    width: 264px;
  }
}

@media screen and (max-width: 1000px) {
  .product {
    margin-right: 70px;
  }
  .product-info-section {
    margin-left: 40px;
  }
  .product-brand {
    font-size: 22px;
  }
  .product-name {
    font-size: 22px;
  }
  .product-price-title {
    font-size: 13px;
  }

  .product-currency-price {
    font-size: 14px;
  }

  .product-button {
    height: 46px;
    width: 257px;
  }
}

@media screen and (max-width: 900px) {
  .product {
    margin-right: 50px;
  }
  .product-button {
    height: 46px;
    width: 250px;
  }
}
