:root {
  --overlay-z-index: 998;
  --cart-pop-up-z-index: 999;
}

.overlay {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.6;
  z-index: var(--overlay-z-index);
}

.cart-icon-section {
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  z-index: var(--cart-pop-up-z-index);
}
.cart-icon-section:hover {
  cursor: pointer;
}

.cart-icon-block {
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vector {
  position: relative;
  top: 4px;
  left: 4.05px;
  margin-right: 25px;
  background-color: #ffffff;
  border: solid #2b2b2b;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-105deg);
  border-radius: 1.5px;
}

.trapezoid {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-top: 1px solid #2b2b2b;
  border-bottom: 2px solid #2b2b2b;
  border-left: 1px solid #2b2b2b;
  border-right: 1px solid #2b2b2b;
  margin: auto;
  transform: perspective(30px) rotateX(-45deg);
  border-radius: 2px;
}

.circle-section {
  position: relative;
  bottom: 2px;
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.circle {
  width: 2px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1.1px solid #2b2b2b;
}

.items-in-cart {
  position: relative;
  bottom: 27px;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 9px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  z-index: var(--cart-pop-up-z-index);
}
.items-in-cart:hover {
  cursor: pointer;
}

.cart-popup {
  z-index: var(--cart-pop-up-z-index);
  position: absolute;
  top: 80px;
  right: 72px;
  width: 325px;
  max-height: 677px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 1px 1px 20px rgb(121, 117, 117);
}

.popup-section {
  margin-top: 32px;
  margin-right: 16px;
  margin-bottom: 32px;
  margin-left: 16px;
}

.popup-title-quantity {
  display: flex;
  flex-direction: row;
}

.popup-title {
  font-weight: 700;
  font-size: 16px;
}

.popup-quantity {
  margin-left: 5px;
  font-size: 16px;
}

.popup-total-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 41px;
  margin-bottom: 32px;
}

.popup-total-title {
  font-size: 16px;
  font-weight: 500;
}

.popup-currency-total {
  font-size: 16px;
  font-weight: 700;
}

.popup-buttons-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popup-buttons-section:hover {
  cursor: pointer;
}

.button-view-bag {
  background-color: #ffffff;
  width: 140px;
  height: 43px;
  border: 1px solid #1d1f22;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-view-bag {
  color: #1d1f22;
  font-weight: 600;
  font-size: 14px;
}

.button-check-out {
  background-color: #5ece7b;
  width: 140px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-check-out {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}

.link {
  text-decoration: none;
}
