.currency {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.currency-symbol {
 padding-right: 5px;
}
.currency-popup {
  position: absolute;
  top: 66px;
  right: -20px;
  width: 114px;
  border: 0.1px solid lightgray;
  background-color: white;
}
.currencies {
  display: flex;
  flex-direction: column;
}

.currency-item {
  cursor: pointer;
  padding: 5px 5px 5px 10px;
  text-align: left;
}
.currency-current {
  cursor: none !important;
  background: #eeeeee;
}
