.header {
  background-color: #ffffff;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: var(--page-gap);
  right: var(--page-gap);
  z-index: var(--cart-pop-up-z-index);
}

/* Header left */
.categories-section {
  display: flex;
  flex-direction: row;
}
.category {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding-right: 16px;
  padding-left: 16px;
}
.category-active {
  border-bottom: 2px solid #5ece7b;
  color: #5ece7b !important;
}
.category-name {
  height: var(--header-height);
  position: relative;
  top: calc(var(--header-height) / 3);
}

/* Header right */
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--header-height);

}

.currency {
  font-size: 18px;
  margin: 0 22px 0 22px;
}
.cart {
  margin-top: 22px;
}
